/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */


.float-right{
  /*position: relative;*/
  width:28%;
  height: 100%;
  /*float: right;*/
}

.float-left{
   /*position: relative;*/
   /*display: inline-block;*/
  width: 68%;
  margin-right:2%;
/*float:left;*/
}

.last-row{
  /*position: relative;*/
  width:32%;
  margin-right: 1%;
  margin-top: 2%;
  /*float: right;*/
}



